<!--{template header}-->
<div class="site-ms__left"> 
<div class="t_area_out">
<div class="t_area_in">
<p class="cur_title" style="margin-bottom:15px;">文章列表</p>
<div class="sect" style=" padding:0px 3px">
<ul class="article_detail">
<li class="article_title">标题</li>
<li class="article_author">来源</li>
<li class="article_time">时间</li>
</ul>
<ul style="display:block; overflow:hidden;clear: both;">
{loop $articles $article}
<li class="article"><a href="?mod=article&code=view&id={$article['id']}">
<ul class="article_list">
<li class="article_ltitle">{$article['title']}</li>
<li class="article_lauthor">{$article['writer']}</li>
<li class="article_ltime">{echo date('Y-m-d H:i:s', $article['timestamp_create'])}</li>
</ul></a>
</li>
{/loop}
</ul>
<div style="clear:both;"></div>
<div class="pagem" style="margin:20px 0;height:45px;">{~page_moyo()}</div>
<style>.pagem .page_count{ display:inline; margin-left:15px;}</style>
</div>
</div>
</div>
</div>
<div class="site-ms__right">
{~ui('widget')->load()}
</div>
</div>
<!--{template footer}-->