	 
<style>
.exp .site-fs{
width: 938px;
margin: 0 0 15px;
float: left;
border: 1px solid #ededed;
border-bottom: 1px solid #ccc;
}
.site-fs__sort_w{ display:none;}
.exp .site-fs__sort-t,.exp .site-fs__sort-s a{ border-right:none;}
.exp .site-fs__sort-t{ padding-right:16px;}
.template3{ height:auto;}
.template4{ height:285px;}
.template4 .shopList .deal-tile__title h2.shop_name{font-size:12px;}
.template2,.template2 .shopList{height: 440px;}
.template2 .shopList .deal-tile__title{width: 440px;}
</style>
<div class="product_item">
{loop $seller $item}
<div class="t_area_out {if $ui['style'] == 'four'}template4{elseif $ui['style'] == 'meituan'}template2{else}template3{/if}">
<div class="shopList">
<div class="deal-tile__cover">{eval ui('iimager')->seller_single($item['id'], (int) $item['imgs'])}</div>
<div class="deal-tile__title">
<h2 class="shop_name"><a href="?mod=seller&code=view&id={$item['id']}" target="_blank" title="{$item['sellername']}">{$item['sellername']}</a><!--{if $item[assure_money]}--><em></em><!--{/if}-->
</h2>
<dl class="shop_info">
<!--{if $item[sellerphone]}--><p><em>联系电话：</em>{$item[sellerphone]}</p><!--{/if}-->
<!--{if $item[selleraddress]}--><p><em>详细地址：</em>{$item[selleraddress]}</p><!--{/if}-->
<!--{if $item[price_avg]}--><p><em>人均消费：</em>&yen;{$item[price_avg]}元</p><!--{/if}-->
<!--{if $up_sid<1 && $item[sub_sellercount]>0 && $item[up_sellerid]<1}--><p><em>全部门店：</em><a href="?mod=seller&up_sid={$item[id]}">点击查看（数量：{$item[sub_sellercount]}）</a></p><!--{/if}-->
</dl>
</div>
</div>
</div>
{/loop}
<div class="product_list_pager">{~page_moyo()}</div>
</div>
</div>
<div class="site-ms__right">
<!--{~ui('widget')->load('index_home')}-->
</div>
</div>