<!--{template header}-->
<script>
MEMBER_ID = '{MEMBER_ID}';
PRODUCT_ID = '{$product["id"]}';
</script>
<style>
.site-mast__user-nav,.site-mast__branding,.site-ms,.site-mast__branding, .site-mast__site-nav,.wrap,.nav_bar {width: 980px;}
.deal_component{ width:938px;}
.deal-tile__c{ width:468px;}
.site-ms__left{ width:760px;} 
.content-navbar{ width:758px;}
.search-box { margin-left:130px;width: 321px;}
.search-box .search-box__input{ width:158px;}
.deal-tile__cover .smallslider li a img{width:450px;}
/*定制CSS*/
.deal-tile__c .price{line-height:40px;}
.deal-tile__c .price em{float:none; margin:auto; padding-left:5px; padding-right:5px; vertical-align:sub;}
.deal-tile__c .price sub{float:none; padding:12px 5px; color: #f76120; vertical-align:inherit; font-size:12px;}
.deal-tile__c .product-stars em{color: #f76120; padding-left:4px; padding-right:5px;}
.deal-tile__c .product-summary em{color: #f76120; padding-left:4px; padding-right:5px;}
.deal-tile__c .detail-B_box em{color: #f76120; padding-left:4px; padding-right:5px;}
.biz-wrapper .sideMenu{ width:305px;}
#map_canvas,.img2{ width:378px;}
</style>
<div class="bread-nav">{eval ui('catalog')->tree($product['category'])}</div>    
<div class="deal_component">
<h3>{$product['name']}<p>{$product['intro']}</p></h3>
<div class="deal-tile__cover" style="float:left;">
<div class="deal-tile__cover_img">
{eval ui('iimager')->multis($product['id'], $product['imgs'])}
</div>
</div>
<div class="deal-tile__c">
<div class="price">
只需<em>&yen;{$product['nowprice']}</em>就有机会获得<sub>&yen;{$product['price']}</sub>的商品
</div>
<!--{if $product[cuts] || $product[rebate_money]>0}-->
<div class="M-price-preferential">
<dl>
<dd>网站优惠：</dd>
<dt>
<!--{loop $product[cuts][cuts] $cut}-->
<span>{$cut[desc]}</span>
<!--{/loop}-->
<!--{if $product[rebate_money]>0}-->
<span>购物返现{$product[rebate_money]}元</span>
<!--{/if}-->
</dt>
</dl>
</div>
<!--{/if}-->  
<div class="product-stars">
已参与<em>{$product[sells_count]}</em>人次，
剩余<em>{$product[surplus]}</em>人次
</div>
<!--{if false != ($summary=logic('comment')->front_get_summary($product['id']))}-->
<div id="name-comment-i" class="product-summary"> 
<em>{$summary['count']}</em>条评价   
<ul class="comment-info__rating">
<li style="z-index:0; display: list-item; width:{echo $summary['average'] * 20}%;"></li>
</ul>                         
<em>{$summary['average']}</em>分
</div> 
<!--{/if}-->
<div class="detail-B_box" style="position:relative;">   
本次云购需达<em>{eval echo $product[sells_count] + $product[surplus];}</em>人次参与
<p>结果会在达到云购人次后公布，购买人次越多获得几率也越高哦！</p>
</div>
<div class="deal_b">
<!--{if $product['yungou'] == YUNGOU_STA_Published}-->
<a class="b_btn" href="?mod=yungou&code=result&pid={$product['id']}" title="查看结果">查看结果</a>
<!--{elseif $product['yungou'] == YUNGOU_STA_Readied}-->
<a class="u_btn" href="javascript:void(0);" title="等待揭晓">等待揭晓</a>
<!--{elseif $product['yungou'] == YUNGOU_STA_Normal}-->
<a href="#cat_add" class="cat_btn" onclick="cat_add({$product['id']});return false;" title="加入购物车"></a>
<a class="b_btn" href="?mod=buy&code=checkout&id={$product['id']}" title="立即参与云购">立即参与云购</a>
<!--{/if}-->
</div>
<div class="datail-shop">
<div class="shop-share">
{eval app('bshare')->load('product_detail', array('product'=>$product))}
</div>
<!--{if $product['surplus']>0}-->
<!--{if $favorited && MEMBER_ID > 0}-->
<a class="shop-fav" href="javascript:void(0);" title="已收藏">已收藏</a>
<!--{elseif MEMBER_ID > 0}-->
<a id="favorite" class="shop-fav" href="javascript:void(0);" tourl="?mod=me&code=favorite&op=add&id={$product['id']}" onclick="addfavorite()"  title="收藏">收藏</a>
<!--{/if}-->
<!--{/if}-->
</div>
<p id="name-address-i" class="B B12" style="cursor:default;  border-top: 1px solid #eee;  margin-top: 15px;  padding-top: 10px;  text-align: right;width:100%;float:left;">商家信息：{$product['sellername']} | <font style="cursor:pointer">点击查看地址电话</font></p>
</div>
</div>
<div class="site-ms__left">
<!--{if false != ($data = logic('product')->GetOwnerList($product['sellerid'],5,0,$product['id']))}-->
<div class="t_area_out">
<div class="t_area_in">
<h5 class="detail-centit">
商家的其他商品
<div class="detail-centit_sub">
<span class="sub_sale">已售</span>
<span class="sub_value_cn">原价</span>
<span class="sub_price">{TUANGOU_STR}价</span>
</div>
</h5>                
<!--{loop $data $product2}-->
<!--{if $product2['id']!=$product['id']}-->
<p class="otherBiz">
<a target="_blank" href="?view={$product2['id']}">
<span class="biz_title">{$product2['name']}</span>
<span class="price">&yen;{$product2['nowprice']}</span>
<span class="value_cn">&yen;{$product2['price']}</span>
<span id="tuanState" class="sale">{$product2['sells_count']}</span>
</a>
</p>
<!--{/if}-->
<!--{/loop}-->
</div>
</div>  
<!--{/if}-->
<div class="t_area_out">
<div class="content-navbar" id="content-navbar-id">
<ul>
<!--{if !meta('p_hs_'.$product['id'])}-->
<li class="name-cur"><span id="name-address">商家信息</span></li>
<!--{/if}-->
<li {if meta('p_hs_'.$product['id'])}class="name-cur"{/if}><span id="name-product-detail" >云购详情</span></li>
<li><span id="name-comment">用户评价</span></li>
</ul>
<div class="content-navbar_buy">
<div class="cj_or_bp">
<!--{if $product['yungou'] == YUNGOU_STA_Published}-->
<a class="u_btn s_btn" href="?mod=yungou&code=result&pid={$product['id']}">查看结果</a>
<!--{elseif $product['yungou'] == YUNGOU_STA_Readied}--> 
<a class="b_btn s_btn" href="javascript:void(0);">等待揭晓</a>
<!--{elseif $product['yungou'] == YUNGOU_STA_Normal}-->
<a class="b_btn s_btn" href="?mod=buy&code=checkout&id={$product['id']}">立即云购</a>
<!--{/if}-->
</div>
</div>
<div style="clear:both;"></div>
</div>  
<div class="mainbox">
<div class="main">
<!--{~ui('loader')->js('@product.detail')}-->
<!--{if !meta('p_hs_'.$product['id'])}-->
<a class="content-title" id="name-address-block">
<span>商家地址</span>
</a>
<div class="position-wrapper">
<div class="address-list">
<!--{eval $sellermap = $product['sellermap'];}-->
<!--{if $sellermap[0]!=''}-->
<div class="left-content">
<div id="map_canvas">
<div style="padding:1em; color:gray;">正在载入...</div>
</div>
<a id="img1" class="img2"><div class="map_big">查看完整地图</div></a>
</div>
<!--{/if}-->
<div class="biz-wrapper">
<!--{template biz_wrapper}-->
</div>
</div>
<div style="clear:both;"></div>
</div>  
<!--{/if}-->
<a class="content-title" id="name-product-detail-block">
<span>云购详情</span>
</a>
<div id="product_detail_area">
<!--{if $product['cue']}-->
<h4>【购买须知】</h4>
<div class="product_detail_cnt">{$product['cue']}</div>
<!--{/if}-->
<h4>【本单详情】</h4>
<div id="product_detail_cnt" class="product_detail_cnt">{$product['content']}</div>
{if $product['theysay']}
<h4>【他们说】</h4>
<div class="product_detail_cnt">{$product['theysay']}</div>
{/if}
{if $product['wesay']}
<h4>【我们说】</h4>
<div class="product_detail_cnt">{$product['wesay']}</div>
{/if}
</div>  
<a class="content-title" id="name-comment-block">
<span>用户评价</span>
</a>
<!--{eval logic('comment')->show_summary($product['id'])}-->
</div>
<div class="deal-buy-bottom">
<div class="price">&yen;{$product['nowprice']}</div>
<table>
<tbody>
<tr>
<th>市场价</th>
<th>已参与</th>
<th>剩余人数</th>
</tr>
<tr>
<td><span>&yen;</span><del>{$product['price']}</del></td>
<td>{$product[sells_count]}人</td>
<td>{$product[surplus]}人</td>
</tr>
</tbody>
</table>
<div class="btn—wrapper">
<div class="cj_or_bp">
<!--{if $product['yungou'] == YUNGOU_STA_Published}-->
<a class="b_btn" href="?mod=yungou&code=result&pid={$product['id']}">查看结果</a>
<!--{elseif $product['yungou'] == YUNGOU_STA_Readied}-->
<a class="b_btn" href="javascript:void(0);">等待揭晓</a>
<!--{elseif $product['yungou'] == YUNGOU_STA_Normal}-->
<a class="b_btn" href="?mod=buy&code=checkout&id={$product['id']}">立即参与云购</a>
<!--{/if}--> 
</div>
</div>
</div>  
</div>  
</div>  
</div>  
<div class="site-ms__right">
<div class="t_area_out ">
<h1>看了本商品的用户还看了</h1>
<div class="t_area_in">
<ul class="product_list">
<!--{eval $cpid = isset($_GET['view']) ? $_GET['view'] : -1;}-->
<!--{eval $one_product =  logic('product')->GetOne($cpid);}-->
<!--{eval $product_other_list = logic('product')->GetOtherList($one_product['city'], $one_product['category'], $one_product['id'], 10);}-->
<!--{loop $product_other_list $i $otherProduct}-->
<li>
<p class="pl_img"><a href="?view={$otherProduct['id']}"><img src="{echo imager($otherProduct['imgs'][0], IMG_Small);}" width="175"/></a></p>
<p class="name"><a href="?view={$otherProduct['id']}">{$otherProduct['name']}</a></p>
<div class="shop">
<div class="pr">
<font class="price">&yen;{$otherProduct['nowprice']}</font>
<font class="markprice">&nbsp;市场价：&yen;{$otherProduct['price']}</font>
</div>
<div style="clear:both;"></div>
</div>
</li>
{/loop}
</ul>
</div>
</div>
<!--{~ui('widget')->load('index_detail')}-->
</div>
</div>
<script>
// 购物车
function cat_add(id)
{
artDialog.load('?mod=mycart&code=addCart_artdialog&id=' + id, {
width: 350, 
height: 150,
fixed: true,
//lock: true,
//icon:'succeed',
button: [
{
name: '去购物车结算',
callback: function () {
window.location.href="?mod=buy&code=checkout&id=-1"; 
}
},
{
name: '继续浏览',
callback: function () {
window.location.reload();//刷新更新数目
}
}
]
});
}				
</script>
<script>
// 分享
$(".share-tip").click(function() {
$(".share-list").toggle();
})
</script>       
<!--{if !meta('p_hs_'.$product['id'])}-->
<script type="text/javascript">
// 标签切换
$("#name-address").click(function() {
$(this).parent("li").nextAll().removeClass("name-cur");
$(this).parent("li").addClass("name-cur");
document.getElementById("name-address-block").scrollIntoView();
})
$("#name-address-i").click(function() {
document.getElementById("name-address-block").scrollIntoView();
})
</script>
<!--{/if}-->
<script type="text/javascript">
// 同上
if(!($.browser.msie && $.browser.version<7)){
document.write('<script type="text/javascript" src="./js/side_follow.js"><'+'/script>');
}
$("#name-product-detail").click(function(){
$(this).parent("li").nextAll().removeClass("name-cur");
$(this).parent("li").prevAll().removeClass("name-cur");
$(this).parent("li").addClass("name-cur");
document.getElementById("name-product-detail-block").scrollIntoView();
})
$("#name-comment").click(function() {
$(this).parent("li").prevAll().removeClass("name-cur");
$(this).parent("li").addClass("name-cur");
document.getElementById("name-comment-block").scrollIntoView();
})
$("#name-comment-i").click(function() {
document.getElementById("name-comment-block").scrollIntoView();
})
</script>       
<script type="text/javascript">
if(!($.browser.msie && $.browser.version<7)){
$("#content-navbar-id").fixbox({distanceToBottom:200,threshold:8});
}
</script>      
<!--{if $sellermap[0]!=''}-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak={~ini('baidu_map_ak.browser')}"></script>
<script type="text/javascript"> 
var map, marker;
function map_initialize()
{
var location = new BMap.Point('{$sellermap[0]}', '{$sellermap[1]}');
map = new BMap.Map("map_canvas");
map.centerAndZoom(location, '{$sellermap[2]}');
map.enableScrollWheelZoom(true);
marker = new BMap.Marker(location);// 创建标注
map.addOverlay(marker);             // 将标注添加到地图中
}
</script>
<!--{/if}-->
<!--{if $sellermap[0]!=''}-->
<script type="text/javascript">
$(document).ready(function() {
$("#img1").click(function() {
window.open('http://api.map.baidu.com/marker?location={$sellermap[1]},{$sellermap[0]}&title={$product[sellername]}&content=联系电话：{$product[sellerphone]}&output=html');
});
map_initialize();
});
</script>
<!--{/if}-->
<Script type="text/javascript">
// 本单详情
$("#t_detail_txt img").each(function(){
if($(this).width() > $(this).parent().width()) {
$(this).width("100%");
}
});
</Script>
{~ui('loader')->js('@quickSignIn')}
<!--{template footer}-->
