<!doctype html>
<html>
<head>
<meta charset="{ini:settings.charset}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>找回密码</title>
<meta name="description" content="">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes" />
{~ui('loader')->js('@jquery')}
<link href="templates/wap/css/get_password.css" rel="stylesheet">
</head>
<body>
<div id="error_msg" class="top_tips"></div>
<div class="wrapper">
<!--{if 'step2' == $act}-->  
<form method="post" action="index.php?mod=wap&code=get_password&act=step3"> 
<input type="hidden" name="uid" value="{$uid}" > 
<h2>验证/修改</h2>
<ul>
<li>已向您的手机号码 {$phone} 发送了短信验证码，请输入：</li>
<li>短信验证码：<input name="vfcode" type="text" value=""></li>  
<li>设置账号密码：<input name="password" type="password" value=""></li>        
<li>再次确认密码：<input name="confirm" type="password" value=""></li> 
</ul>
<input class="payback_btn" type="submit" id="submit" name='submit'  value="重置登录密码">
</form>    
<!--{else}-->
<form method="post" action="index.php?mod=wap&code=get_password&act=step2">
<h2 id="status">确认帐号</h2>
<ul>
<li>请输入您要找回密码的帐户、邮箱或手机号码</li>
<li>帐户名：<input name="username" type="text" value=""></li>
<li>验证码：{~logic('seccode')->html()}</li>
<style>#seccode_img {width: 80px;}</style>
</ul>
<input class="payback_btn" type="submit" id="submit" name='submit'  value="下一步">
</form>
<!--{/if}-->
</body>
</html>
<!--{~handler('member')->UpdateSessions()}-->
