<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset={ini:settings.charset}"/>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=2.0"/>
<meta name="MobileOptimized" content="236"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta charset="utf-8">
<link href="templates/wap/css/main.css" rel="stylesheet">
<title>{~ini('settings.site_name')}</title>
</head>
<body>
<a href="{ini:settings.site_url}/?mod=wap">
<img class="logo" src="templates/default/images/logo.png">
</a>
