<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>天天外卖 - 订单状态</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="styles/amazeui.min.css">
<link rel="stylesheet" href="styles/waimai.css">
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default">
<h1 class="am-header-title">
<i class="am-icon-angle-left"></i> 订单状态
</h1>
</header>
<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
<a href="javascript: void(0)" class="am-menu-toggle">
<i class="am-menu-toggle-icon am-icon-bars"></i>
</a>
<div class="am-offcanvas">
<div class="am-offcanvas-bar">
<ul class="am-menu-nav sm-block-grid-1">
<li class="">
<a href="##">首页</a>
</li>
<li class="">
<a href="##">外卖订单</a>
</li>
<li class="">
<a href="##">账户信息</a>
</li>
<li class="">
<a href="##">地址管理</a>
</li>
<li class="">
<a href="##">帮助信息</a>
</li>
<li class="">
<a href="##">退出</a>
</li>
</ul>
</div>
</div>
</nav>
<div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
<div class="am-list-news-bd">
<ul class="am-list addressLi">
<li class="am-g">
<h2><i class="am-icon-angle-double-right"></i> 订单状态</h2>
</li>
<li class="am-g">
<div class="timeline-item">
<img class="timeline-logo" src="images/order_status_1.png">
<div class="timeline-block">
<i class="timline-block-arrow"></i>
<p class="timeline-title">订单已提交<span class="timeline-time">10:41</span></p>
<p class="timeline-sub">请耐心等待商家确认</p>
</div>
</div>
<div class="timeline-connect timeline-connect-21"></div>
<div class="timeline-item">
<img class="timeline-logo" src="images/order_status_2.png">
<div class="timeline-block">
<i class="timline-block-arrow"></i>
<p class="timeline-title">支付成功<span class="timeline-time">10:41</span></p>
<p class="timeline-sub"></p>
</div>
</div>
<div class="timeline-connect timeline-connect-12"></div>
<div class="timeline-item">
<img class="timeline-logo" src="images/order_status_3.png">
<div class="timeline-block">
<i class="timline-block-arrow"></i>
<p class="timeline-title">商家已接单<span class="timeline-time">10:41</span></p>
<p class="timeline-sub">商品准备中</p>
</div>
</div>
</li>  
<li class="am-g underline">
<a href=""><h2><i class="am-icon-angle-double-right"></i> 外卖详情</h2></a>
<table class="am-table am-table2">
<thead>
<tr>
<th>合计</th>
<th>3份</th>
<th style="color:#f60;">￥14</th>
</tr>
</thead>
<tbody>
<tr>
<td>鸡排饭</td>
<td>1份</td>
<td>￥1</td>
</tr>
<tr>
<td>鸡排饭</td>
<td>2份</td>
<td>￥1</td>
</tr>
<tr class="am-active" style="color:#f60;">
<td>满15减5</td>
<td>&nbsp;</td>
<td>-￥5</td>
</tr>
</tbody>
</table>
</li>
<li class="am-g underline">
<a href=""><h2><i class="am-icon-angle-double-right"></i> 订单详情</h2></a>
<table class="am-table am-table2">
<tbody>
<tr>
<td>订单号码</td>
<td>13566695562ASD</td>
</tr>
<tr>
<td>下单时间</td>
<td>1985-10-22 15:00</td>
</tr>
<tr>
<td>支付方式</td>
<td>支付宝</td>
</tr>
<tr>
<td>收货地址</td>
<td>杭杭州杭州杭州杭州杭州杭州州</td>
</tr>
<tr>
<td>联系电话</td>
<td>057188800819</td>
</tr>
<tr>
<td>联系人</td>
<td>鹏飞</td>
</tr>
<tr>
<td>配送时间</td>
<td>尽快</td>
</tr>
</tbody>
</table>
</li>    
</ul>
</div>
</div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
<ul class="am-navbar-nav am-cf am-avg-sm-4" style="padding:0;border:none;">
<button type="button" class="am-btn am-btn-danger am-btn-block" style="height:49px;">确认收货/等待付款</button>
</ul>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
</body>
</html>
