<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>天天外卖 - 订单列表</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="styles/amazeui.min.css">
<link rel="stylesheet" href="styles/waimai.css">
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default">
<h1 class="am-header-title">
<i class="am-icon-angle-left"></i> 订单列表
</h1>
</header>
<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
<a href="javascript: void(0)" class="am-menu-toggle">
<i class="am-menu-toggle-icon am-icon-bars"></i>
</a>
<div class="am-offcanvas">
<div class="am-offcanvas-bar">
<ul class="am-menu-nav sm-block-grid-1">
<li class="">
<a href="##">首页</a>
</li>
<li class="">
<a href="##">外卖订单</a>
</li>
<li class="">
<a href="##">账户信息</a>
</li>
<li class="">
<a href="##">地址管理</a>
</li>
<li class="">
<a href="##">帮助信息</a>
</li>
<li class="">
<a href="##">退出</a>
</li>
</ul>
</div>
</div>
</nav>
<div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
<div class="am-list-news-bd">
<ul class="am-list">
<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
<a href="http://www.douban.com/online/11614662/">
<div class="am-u-sm-4 am-list-thumb">
<img src="http://img5.douban.com/lpic/o636459.jpg">
</div>
<div class="am-list-main">
<h3 class="am-list-item-hd">商家名称</h3>
<div class="am-list-item-text shop-line">
<div class="shop-sold">￥15（2015-10-19 16:00）</div>
</div>
<div class="am-list-item-text shop-line">
<span class="shop-line-item">订单完成</span>
</div>
</div>
</a>
</li>
<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
<a href="http://www.douban.com/online/11614662/">
<div class="am-u-sm-4 am-list-thumb">
<img src="http://img5.douban.com/lpic/o636459.jpg">
</div>
<div class="am-list-main">
<h3 class="am-list-item-hd">商家名称</h3>
<div class="am-list-item-text shop-line">
<div class="shop-sold">￥15（2015-10-19 16:00）</div>
</div>
<div class="am-list-item-text shop-line">
<span class="shop-line-item" style="color:#f60;">等待支付</span>
</div>
</div>
</a>
</li>  
<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
<a href="http://www.douban.com/online/11614662/">
<div class="am-u-sm-4 am-list-thumb">
<img src="http://img5.douban.com/lpic/o636459.jpg">
</div>
<div class="am-list-main">
<h3 class="am-list-item-hd">商家名称</h3>
<div class="am-list-item-text shop-line">
<div class="shop-sold">￥15（2015-10-19 16:00）</div>
</div>
<div class="am-list-item-text shop-line">
<span class="shop-line-item">订单取消</span>
</div>
</div>
</a>
</li>    
</ul>
</div>
<div class="am-list-news-ft">
<a class="am-list-news-more am-btn am-btn-default" href="###">查看全部 »</a>
</div>
</div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
id="">
<ul class="am-navbar-nav am-cf am-avg-sm-4">
<li>
<a href="">
<span class="am-icon-home"></span>
<span class="am-navbar-label">首页</span>
</a>
</li>
<li>
<a href="">
<span class="am-icon-file-text"></span>
<span class="am-navbar-label">订单</span>
</a>
</li>
<li>
<a href="">
<span class="am-icon-user"></span>
<span class="am-navbar-label">我的</span>
</a>
</li>
<li>
<a href="">
<span class="am-icon-sign-in"></span>
<span class="am-navbar-label">登录</span>
</a>
</li>
<li>
<a href="">
<span class="am-icon-user-plus"></span>
<span class="am-navbar-label">注册</span>
</a>
</li>
</ul>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
</body>
</html>
