<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>天天外卖 - 商家接单列表</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="styles/amazeui.min.css">
<link rel="stylesheet" href="styles/waimai.css">
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default">
<h1 class="am-header-title">
<i class="am-icon-angle-left"></i> 商家接单列表
</h1>
</header>
<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
<a href="javascript: void(0)" class="am-menu-toggle">
<i class="am-menu-toggle-icon am-icon-bars"></i>
</a>
<div class="am-offcanvas">
<div class="am-offcanvas-bar">
<ul class="am-menu-nav sm-block-grid-1">
<li class="">
<a href="##">首页</a>
</li>
<li class="">
<a href="##">外卖订单</a>
</li>
<li class="">
<a href="##">账户信息</a>
</li>
<li class="">
<a href="##">地址管理</a>
</li>
<li class="">
<a href="##">帮助信息</a>
</li>
<li class="">
<a href="##">退出</a>
</li>
</ul>
</div>
</div>
</nav>
<div class="am-list-news am-list-news-default am-no-layout">
<div class="am-tabs" data-am-tabs>
<ul class="am-tabs-nav am-nav am-nav-tabs ttwaimai-tab">
<li class="am-active"><a href="#tab1">全部</a></li>
<li><a href="#tab2">待接</a></li>
<li><a href="#tab3">已接</a></li>
</ul>
<div class="am-tabs-bd noline">
<div class="am-tab-panel am-fade ttwaimai-tab-panel am-in am-active" id="tab1">
<ul class="am-list">
<li class="am-g ttwaimai-g">
<a href="http://www.douban.com/online/11614662/">
<div class="am-list-main">
<h3 class="am-list-item-hd">鹏飞 先生 （13506818888）</h3>
<div class="am-list-item-text shop-line">
<div class="shop-sold">西湖区网塘路之江大楼506</div>
</div>
<div class="am-list-item-text shop-line">
<div class="shop-sold">菜品...</div>
</div>
<div class="am-list-item-text shop-line">
<span class="shop-line-item">下单时间：10:40</span>
<span class="shop-line-item" style="float:right"></span>
</div>
</div>
</a>
<button class="am-btn am-btn-danger am-btn-sm am-btn-block">确认接单</button>
</li>
<li class="am-g ttwaimai-g">
<a href="http://www.douban.com/online/11614662/">
<div class="am-list-main">
<h3 class="am-list-item-hd">鹏飞 先生 （13506818888）</h3>
<div class="am-list-item-text shop-line">
<div class="shop-sold">西湖区网塘路之江大楼506</div>
</div>
<div class="am-list-item-text shop-line">
<div class="shop-sold">菜品...</div>
</div>
<div class="am-list-item-text shop-line">
<span class="shop-line-item">下单时间：10:40</span>
<span class="shop-line-item" style="float:right">商家已接单</span>
</div>
</div>
</a>
</li>
<li class="am-g ttwaimai-g">
<a href="http://www.douban.com/online/11614662/">
<div class="am-list-main">
<h3 class="am-list-item-hd">鹏飞 先生 （13506818888）</h3>
<div class="am-list-item-text shop-line">
<div class="shop-sold">西湖区网塘路之江大楼506</div>
</div>
<div class="am-list-item-text shop-line">
<div class="shop-sold">菜品...</div>
</div>
<div class="am-list-item-text shop-line">
<span class="shop-line-item">下单时间：10:40</span>
<span class="shop-line-item" style="float:right">商家已接单</span>
</div>
</div>
</a>
</li>  
</ul>
</div>
<div class="am-tab-panel am-fade ttwaimai-tab-panel" id="tab2">
<ul class="am-list">
<li class="am-g ttwaimai-g">
<a href="http://www.douban.com/online/11614662/">
<div class="am-list-main">
<h3 class="am-list-item-hd">鹏飞 先生 （13506818888）</h3>
<div class="am-list-item-text shop-line">
<div class="shop-sold">西湖区网塘路之江大楼506</div>
</div>
<div class="am-list-item-text shop-line">
<div class="shop-sold">菜品...</div>
</div>
<div class="am-list-item-text shop-line">
<span class="shop-line-item">下单时间：10:40</span>
<span class="shop-line-item" style="float:right"></span>
</div>
</div>
</a>
<button class="am-btn am-btn-danger am-btn-sm am-btn-block">确认接单</button>
</li>
</ul>
</div>
<div class="am-tab-panel am-fade ttwaimai-tab-panel" id="tab3">
<ul class="am-list">
<li class="am-g ttwaimai-g">
<a href="http://www.douban.com/online/11614662/">
<div class="am-list-main">
<h3 class="am-list-item-hd">鹏飞 先生 （13506818888）</h3>
<div class="am-list-item-text shop-line">
<div class="shop-sold">西湖区网塘路之江大楼506</div>
</div>
<div class="am-list-item-text shop-line">
<div class="shop-sold">菜品...</div>
</div>
<div class="am-list-item-text shop-line">
<span class="shop-line-item">下单时间：10:40</span>
<span class="shop-line-item" style="float:right">商家已接单</span>
</div>
</div>
</a>
</li>
<li class="am-g ttwaimai-g">
<a href="http://www.douban.com/online/11614662/">
<div class="am-list-main">
<h3 class="am-list-item-hd">鹏飞 先生 （13506818888）</h3>
<div class="am-list-item-text shop-line">
<div class="shop-sold">西湖区网塘路之江大楼506</div>
</div>
<div class="am-list-item-text shop-line">
<div class="shop-sold">菜品...</div>
</div>
<div class="am-list-item-text shop-line">
<span class="shop-line-item">下单时间：10:40</span>
<span class="shop-line-item" style="float:right">商家已接单</span>
</div>
</div>
</a>
</li> 
</ul>
</div>
</div>
</div>
</div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
id="">
<ul class="am-navbar-nav am-cf am-avg-sm-4">
<li>
<a href="">
<span class="am-icon-home"></span>
<span class="am-navbar-label">首页</span>
</a>
</li>
<li>
<a href="">
<span class="am-icon-file-text"></span>
<span class="am-navbar-label">订单</span>
</a>
</li>
<li>
<a href="">
<span class="am-icon-user"></span>
<span class="am-navbar-label">我的</span>
</a>
</li>
<li>
<a href="">
<span class="am-icon-sign-in"></span>
<span class="am-navbar-label">登录</span>
</a>
</li>
<li>
<a href="">
<span class="am-icon-user-plus"></span>
<span class="am-navbar-label">注册</span>
</a>
</li>
</ul>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
</body>
</html>
