<!--{if empty($_GET) || (count($_GET)<=2 && 'index' == $_GET['mod']) || empty($_SERVER['QUERY_STRING'])}-->
{~ui('loader')->js('@jquery.bxslider.min')}
<style>
.bx-wrapper .bx-pager{text-align:center;color:#fff}
.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline}
.bx-wrapper .bx-pager.bx-default-pager a{background:#fff;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 4px;outline:0;border:none;box-shadow:0 0 0 1px #2db8ad;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active{background:#2db8ad}
.bx-controls{position:relative;bottom:20px;height:0px;}
</style>
<div>
<ul class="imgslider">
{loop $cfg['list'] $id $one}
{eval $link=$one['pid']?ini('settings.site_url').'/m.php?view='.$one['pid']:$one['link'];}
<li><a href="{$link}" target="{$one['target']}"><img src="{$one['image']}" width="100%"/></a></li>
{/loop}
</ul>
</div>
<script type="text/javascript">
$('.imgslider').bxSlider({
auto: true,
controls: false
});
</script>
<!--{/if}-->