<!--{template @m/header_home}-->
<style>
.top_bar{position: static;}
.footerhight{ height:0px;}
input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]) {
width: 100%;
display: block;
padding: 0.7rem;
}
</style>
{~ui('loader')->js('@account.register')}
{~ui('loader')->js('@phone.vfcode')}
<div id="bodyheight">
<div class="mainbox">
{if false==ini('member.register.closemail')}
<div class="m_field"> 
<a href="?mod=account&code=register&u={$_GET[u]}">邮箱注册</a>
<a class="cur" href="?mod=account&code=register&op=phone&u={$_GET[u]}">手机号注册</a>
</div>
{/if}
<!--{if false == (logic('service')->sms()->enabled())}-->
<div class="field">本站短信已用完，请使用邮箱注册！</div>
<!--{else}-->
<form action="{$action}" method="post" enctype="multipart/form-data" >
<div class="field">
<input type="text" name="phone" id="phone"  class="inputsearch"  placeholder="请填写您的手机号码" >
<font id="phone_result"></font> </div>
<div class="field">{~logic('seccode')->html()}<style>.input_h{ display:block; margin-bottom:10px;}</style></div>
<div class="field">
<input type="button" id="m-lbtn" value="免费获取短信验证码" class="search-submit formbutton" onclick="J_vsnd(this, 1)" />
<script>
var countdown=60;   
var t = '';                              	 
function J_vsnd(val, send) { 
if(1 == send) {
var phone = $('#phone').val();
if (phone == '') {
reg_alert('phone', '请输入手机号码');
return;
}
if (phone.length != 11){
reg_alert('phone', '请输入正确的手机号码');
return;
}
if(false == vfcode_send()) {
return ;
}
}
if (countdown == 0) { 
val.removeAttribute("disabled");	
val.value="免费获取短信验证码"; 
countdown = 60; 
clearTimeout(t);
} else { 
val.setAttribute("disabled", true); 
val.value="重新发送(" + countdown + ")"; 
countdown--; 
t = setTimeout(function() { 
J_vsnd(val, 0) 
},1000)
} 
};
</script>
</div>
<div class="field">
<input type="text" name="vfcode" id="vfcode" class="inputsearch" value="" placeholder="请输入短信验证码">
<font id="vfcode_result"></font> </div>
<div class="field">
<input name="pwd" type="password" class="inputsearch" id="password" placeholder="请输入密码">
<font id="password_result"></font> </div>
<div class="field">
<input name="ckpwd" type="password" class="inputsearch" id="repassword" placeholder="请确认密码" >
<font id="repassword_result"></font> </div>
<div class="field">
<input type="text" name="hometel" id="hometel"  class="inputsearch" value="" placeholder="请输入推荐人手机号（选填）" >
<font id="hometel_result"></font> </div>
<div class="field" style="display: none">
<select name="city" class="f_product" id="city" >
{loop $city $i $value}
<option  value="{$value['cityid']}">{$value['cityname']}</option>
{/loop}
<option value="0">其他</option>
</select>
<input name="showemail" type="checkbox" id="showemail" value="1" checked="checked" >
<input type="hidden" name="home_uid" value="{$home_uid}">
</div>
<div id="l_act" style="padding: 5px 10px 20px 10px;">
<input type="submit" class="search-submit formbutton" value="注 册" >
</div>
</form>
<!--{/if}-->
</div>
</div>
<!--{template @m/footer}-->
