<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>积分商城</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="http://tuangou.com/static/css/amazeui.min.css?20160121" rel="stylesheet" type="text/css" />
<link href="http://tuangou.com/templates/m/styles/app.css?20160121" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://tuangou.com/static/js/jquery.js?20160121"></script>
<script type="text/javascript" src="http://tuangou.com/static/js/amazeui.min.js?20160121"></script>
</head>
<header data-am-widget="header" class="am-header am-header-default am-no-layout"><h1 class="am-header-title">
<a href="javascript:history.go(-1);" class="am-icon-chevron-left"> </a>积分商城</h1>
</header>
<div class="nav-bar">
<ul class="nav">
<li class="dropdown-toggle" style="width:50%" onclick="document.getElementById('catalog').style.display='block'">
<span>美食</span> <b class="caret"></b> </li>
<div id="catalog" onclick="document.getElementById('catalog').style.display='';">
<header data-am-widget="header" class="am-header am-header-default am-no-layout"> <a href="javascript:history.go(-1);" class="am-icon-chevron-left app-left"> </a>
<h3>全部分类</h3>
</header>
<ul class="scity">
<li><span><a href="?mod=catalog">全部</a></span></li>
<li><span><a href="?mod=catalog&amp;code=mrfw">美容服务</a></span></li>
<li><span><a href="?mod=catalog&amp;code=bma">宝马</a></span></li>
<li><span><a href="?mod=catalog&amp;code=food" class="selected">美食</a></span></li>
<li><span><a href="?mod=catalog&amp;code=jd">酒店</a></span></li>
</ul>
</div>
<li class="dropdown-toggle" style="width:50%" onclick="document.getElementById('homesort').style.display='block'">
<span>默认</span> <b class="caret"></b> </li>
<div id="homesort" onclick="document.getElementById('homesort').style.display='';">
<header data-am-widget="header" class="am-header am-header-default am-no-layout">
<a href="javascript:history.go(-1);" class="am-icon-chevron-left app-left"> </a>    <h3>筛选商品</h3>
</header>
<ul class="scity">
<li><span><a href="?mod=catalog&amp;code=xican&amp;sort=default" class="selected">默认</a></span></li>
<li><span><a href="?mod=catalog&amp;code=xican&amp;sort=recent">最新</a></span></li>
<li><span><a href="?mod=catalog&amp;code=xican&amp;sort=sells">销量</a></span></li>
<li><span><a href="?mod=catalog&amp;code=xican&amp;sort=price-asc">积分(最低)</a></span></li>
<li><span><a href="?mod=catalog&amp;code=xican&amp;sort=price-desc">积分(最高)</a></span></li>
<li><span><a href="?mod=catalog&amp;code=xican&amp;sort=price-desc">我能兑换的</a></span></li>
</ul>
</div>
</ul>
</div>
<div class="tt_m creditmall">
<ul class="common-item">
<li class="common-data"> <a href="?view=176">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider">
<img class="lazy" src="http://dev.tttuangou.net/static/images/imager.404.jpg" data-original="http://dev.tttuangou.net/static/images/imager.404.jpg" style="display: inline;">
</div>
</div></div>
<div class="item-name">
<h2> （仅限VIP6）【2店通用】牛外牛 </h2>
<div class="item-edit">
<p class="price">所需积分<b>80</b></p>
<p class="num">有效期：2015.09.16 | 库存：100</p>
</div>
</div>
</a> </li>
<li class="common-data"> <a href="?view=163">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider">
<img class="lazy" src="http://dev.tttuangou.net/static/images/imager.404.jpg" data-original="http://dev.tttuangou.net/static/images/imager.404.jpg" style="display: inline;">
</div>
</div></div>
<div class="item-name">
<h2> 购买返现10元短 </h2>
<div class="item-edit">
<p class="price">所需积分<b>80</b></p>
<p class="num">有效期：2015.09.16 | 库存：100</p>
</div>
</div>
</a> </li>
<li class="common-data"> <a href="?view=309">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider">
<img class="lazy" src="http://dev.tttuangou.net/static/images/imager.404.jpg" data-original="http://dev.tttuangou.net/static/images/imager.404.jpg" style="display: inline;">
</div>
</div></div>
<div class="item-name">
<h2> 【中大银泰城】局百犊牛排短标题 </h2>
<div class="item-edit">
<p class="price">所需积分<b>80</b></p>
<p class="num">有效期：2015.09.16 | 库存：100</p>
</div>
</div>
</a> </li>
<li class="common-data"> <a href="?view=342">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider">
<img class="lazy" src="http://dev.tttuangou.net/static/images/imager.404.jpg" data-original="http://dev.tttuangou.net/static/images/imager.404.jpg" style="display: inline;">
</div>
</div></div>
<div class="item-name">
<h2> 测试 </h2>
<div class="item-edit">
<p class="price">所需积分<b>80</b></p>
<p class="num">有效期：2015.09.16 | 库存：100</p>
</div>
</div>
</a> </li>
</ul>
</div>
<div id="tg_pageinator" class="pg-next" style="display:none;"><a href="?mod=catalog&code=bma&sort=sells&page=1"></a></div><script type="text/javascript" src="http://dev.tttuangou.net/static/js/time.lesser.js?20160121"></script><script type="text/javascript" src="http://dev.tttuangou.net/static/js/jquery.lazyload.js?20160121"></script><script type="text/javascript">
$("img.lazy").lazyload({effect:'fadeIn',skip_invisible:false});
</script>
<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas> <a href="javascript: void(0)" class="am-menu-toggle">  </a>
<div class="am-offcanvas">
<div class="am-offcanvas-bar">
<ul class="am-menu-nav sm-block-grid-1">
<li class=""> <a style="display:block" href="?">首页</a> </li>
<li class=""> <a style="display:block" href="?mod=catalog">全部团购</a> </li>
<li class=""> <a style="display:block" href="?mod=countdown">限时抢购</a> </li>
<li class=""> 
<a href="?mod=me&code=index">个人中心</a>
</li>
<li class=""> <a style="display:block" href="?mod=downapp">下载客户端</a> </li>
<li class=""> <a style="display:block" href="?mod=account&code=logout">退出（admin）</a> </li>
</ul>
</div>
</div>
</nav>
<footer class="footer-padding">
<div class="f_nav">
<span class="f-s-0"><a href="?" data-ajax="false" class="ui-link">首页</a></span>
<span class="line"></span>
<span class="f-s-0"><a href="?mod=countdown" data-ajax="false" class="ui-link">限时抢购</a></span>
<span class="line"></span>
<span class="f-s-0"><a href="?mod=me&code=coupon" class="floatleft a-width-left ui-link" data-ajax="false">我的团购券</a> </span>
<span class="line"></span>
<span class="f-s-0">
<a href="javascript:scroll(0,0)" class="f-s-2 ui-link">回到顶部 <em class="bg3 f_top"></em></a>
</span>
</div>
<div class="f_con">
<p>
<a href="index.php?ignore_jump=1" class="f-color ui-link" data-ajax="false">电脑版</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="m.php" class="f-color1 ui-link" data-ajax="false">触屏版</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="?mod=downapp" class="f-color ui-link" data-ajax="false">客户端下载</a>
</p>
<p class="f_copyright">&nbsp; &nbsp;</p>
<p class="f-color2 f_copyright">&copy;2008-2015</p>
</div>
</footer>
</body>
</html>
