<!--{template @m/header_back}-->
<!--{if 'step1' == $act}-->
<form class="confirm_account" method="GET" action="?">
<input type="hidden" name="mod" value="get_password" />
<input type="hidden" name="code" value="step2" />
<div class="box-style">
<a class="inlink"><h2><i class="am-icon-lock"></i> 请输入要找回密码的帐户、邮箱、手机号</h2></a>
<ul class="com_adr">
<li><span class="info"><input class="inputsearch" placeholder="请输入要找回密码的帐户、邮箱、手机号"  dataType="LimitB" min="6" max="300" msg="请将长度控制在3~50个字符之间" name="username" type="text"/></span></li>
<li><span class="info"><input type="submit" class="search-submit formbutton" value="提交"/></span></li>
</ul>
</div>
</form>
<!--{elseif 'step2' == $act}--> 
<script type="text/javascript">
function get_pwd_by(by) {
if('' == __Global_Seccode_Val) {
alert('请先输入正确的验证码！');
return false;
}
var url = '?mod=get_password&code=step3&username={$enusername}&seccode=' + __Global_Seccode_Val + '&by=' + by + $.rnd.stamp();
window.location.href=url;
}
</script>
<div class="box-style">
<a class="inlink"><h2><i class="am-icon-lock"></i> 请先输入图片验证码</h2></a>
<ul class="com_adr">
<li><span class="info">{~logic('seccode')->html()}</span></li>
</ul>
<style>#seccode_img {width: 82px;}</style>
<a class="inlink"><h2><i class="am-icon-lock"></i> 再选择找回密码的方式</h2></a>
<ul class="com_adr">
<li><span class="info"><a href="javascript:void()" onclick="get_pwd_by('phone');return false;"><input type="submit" class="search-submit formbutton" style="width:45%;float:left;" value="通过绑定的手机找回"></a><a href="javascript:void()" onclick="get_pwd_by('email');return false;"><input type="button" class="search-submit formbutton" style="width:45%;float:right;" value="通过绑定的邮箱找回"></a></span></li>
</ul>
</div> 
<!--{elseif 'step3' == $act}-->
<!--{if 'phone' == $by}-->
<form class="confirm_account" method="POST" action="?mod=get_password&code=step4">
<input type="hidden" name="uid" value="{$uid}" />
<input type="hidden" name="by" value="phone" />	
<div class="box-style">
<a class="inlink"><h2><i class="am-icon-check-square-o"></i> 验证修改新密码</h2></a>
<ul class="com_adr">
<li><span class="info">已向您的手机号{$phone}发送短信验证码</span></li>
<li><span class="info"><input class="inputsearch" placeholder="请输入短信验证码"  type="text" name="vfcode" id="vfcode" value="" size="30" maxlength=10 dataType="LimitB" min="6" size="30"></span></li>
<font id="vfcode_result"></font>
<li><span class="info"><input class="inputsearch" placeholder="请输入七位以上的新密码" name='password' type="password" id="password" maxlength=50 dataType="LimitB" min="7" size="30"></span></li>
<li><span class="info"><input class="inputsearch" placeholder="确认新密码" name='confirm' type="password" id="confirm"  maxlength=50 dataType="Repeat" to="password" type="password" size="30"></span></li>
<li><span class="info"><div id="l_act"><input type="submit" class="search-submit formbutton" value="下一步"></div>
</ul>
</div> 
</form>
<!--{else}-->
<!--{if $reset}-->
<form action="?mod=get_password&code=do_reset" method="POST">
<INPUT TYPE="hidden" name="username" value="{$username}">
<input type="hidden" name="secques" value="{$secques}">
<input type="hidden" name="uid" value="{$uid}">
<input type="hidden" name="id" value="{$id}">
<div class="box-style">
<a class="inlink"><h2><i class="am-icon-user"></i> 用户名：{$username}</h2></a>
<ul class="com_adr">
<li><span class="info"><input class="inputsearch" placeholder="请输入七位以上的新密码" name=password type="password" id="password" maxlength=50 dataType="LimitB" min="7"></span></li>
<li><span class="info"><input class="inputsearch" placeholder="确认新密码" name=confirm type="password" id="confirm"  maxlength=50 dataType="Repeat" to="password" msg="两次输入的密码不一致" type="password" >	</span></li>
<li><span class="info"><div id="l_act"><input type="submit" class="search-submit formbutton save" value="提  交"></div>
</ul>
</div> 
</form>
<!--{else}-->
{$message}
<!--{/if}-->
<!--{/if}-->
<!--{/if}-->
<!--{template @m/footer}-->