<!--{template @m/header_seller_manage}-->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
<div class="am-list-news-bd">
<ul class="am-list">  
<div class="am-form-group">
<p class="tg_11">您的申请已成功，请等待网站处理.</p>
</div>
<div class="am-form-group">
<p class="tg_11">查看我的”<a href="m.php?mod=seller&code=h5_fund_list">结算记录</a>“</p>
</div>      
</ul>
</div>
</div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
id="">
<ul class="am-navbar-nav am-cf am-avg-sm-4">
<li>
<a href="index.php?mod=seller&code=h5_seller_ckticket">
<span class="am-icon-ticket"></span>
<span class="am-navbar-label">券验证记录</span>
</a>
</li>
<li>
<a href="index.php?mod=seller&code=h5_fund_list">
<span class="am-icon-calculator"></span>
<span class="am-navbar-label">结算记录</span>
</a>
</li>
</ul>
</div>
</body>
</html>
