<!--{template @m/header_back}-->
<div class="box-style">
<h3>商家累计收款金额：<span style="color:#f30">{$proceeds_money}</span></h3>
<table class="am-table am-table-bordered am-table-radius am-table-striped">
<thead>
<tr>
<th>收款时间</th><th>收款账户</th><th>收款金额</th>
</tr>
</thead>
<tbody>
<!--{loop $proceeds $i $value}-->
<tr>
<td>{eval echo date('Y-m-d H:i:s',$value['time'])}</td>
<td>{$value['intro']}</td>
<td style="color: #5eb95e;">{$value['money']}</td>
</tr>
<!--{/loop}-->
</tbody>
</table>
<div class="pg-next"> {~page_moyo()}</div>
</div>
