<!--{template @m/header}-->
<style>
.oh-ul li{ margin-bottom:0;}
</style>
<div class="imgs_displayer"><img src="{echo imager($product['imgs'][0], IMG_Normal);}" style="width:100%;min-height:100px;" /></div>
<div class="section-detailbox">
<div class="title">这里是上门服务名称这里是上门服务名称这里是上门服务名称这里是上门服务名称这里是上门服务名称</div>
<div class="deal-other" style=" padding-top:5px;">
<ul class="oh-ul">
<li class="oh-num"><i class="am-icon-check-square-o"></i> 服务人次：<em class="mfr">100</em></li>
<li class="oh-time"><i class="am-icon-star-o"></i> 评分：
<ul class="comment-info__rating"><li style="z-index:0; display: list-item; width:86%;"></li></ul>
</li>
</ul>
</div>
</div>
<div class="box-style">
<h2><i class="am-icon-building-o"></i> 商家信息</h2>
<div class="biz-info">
<div class="biz-detail" style="width:100%;">
<p class="title ell">商家：好乐迪总店</p>
<div class="title ell">综合评分：<ul class="comment-info__rating" style="float:none; margin:7px 0 0 0; display:inline-block"><li style="width:36%;"></li></ul> <em class="mfr">2.1</em>分 <em class="lin">|</em> <a href="" class="mfri">历史评价</a></div>
<div class="title ell">专业：<em class="mfr">2.1</em>分 <em class="lin">|</em> 守时：<em class="mfr">3.1</em>分</div>
<p class="title">服务范围：浙江杭州，西湖区，翠园街道，小和山，留下，拱墅区，上塘街道，拱宸桥，瓜山，拱北，大关</p>
</div>
</div>
</div>
<div class="box-style">
<h2><i class="am-icon-info-circle"></i> 服务须知</h2>
<div class="biz-info">
<div class="biz-detail" style="width:100%;">
<p class="title">服务须知拱北，大关</p>
<p class="title" style=" border-top:1px solid #ddd;"><a href="" class="mfri">查看服务详情</a></p>
</div>
</div>
</div>
<div class="box-style">
<h2><i class="am-icon-external-link"></i> 其他推荐上门</h2>
<div class="biz-info">
<div class="biz-detail" style="width:100%;">
<div class="am-u-sm-6">
<a href="m.php?mod=shangmen_view" class="fw_info">
<img src="http://tg.cenwor.com/dev/uploads/thumb/450x268/2015-05-05/306a0a35c964204a4e9f093a73c220d6.jpg" alt="">
<div class="fw_name"><h3>上门服务名称</h3><div class="fw_sales"><em class="fw_prices">$100</em><em class="fw_num">服务：30</em></div></div>
</a>
</div>
<div class="am-u-sm-6">
<a href="" class="fw_info">
<img src="http://tg.cenwor.com/dev/uploads/thumb/450x268/2015-05-05/306a0a35c964204a4e9f093a73c220d6.jpg" alt="">
<div class="fw_name"><h3>上门服务名称</h3><div class="fw_sales"><em class="fw_prices">$100</em><em class="fw_num">服务：30</em></div></div>
</a>
</div>
</div>
</div>
</div>
<!--{template @m/footer}-->
<div class="deal-buy-bottom" style="position:fixed; bottom:0px; width:100%; background:#fff; border: 1px solid #ddd; z-index:1; border-bottom-style:ridge">
<div class="price">&yen;{$product['nowprice']}</div>
<div class="content-navbar_buy"><a href="m.php?mod=shangmen_buy"><div class="landb-now">立即预约</div></a> </div>
</div>