<!--{template @m/header_back}-->
<div class="box-style">
<h2><i class="am-icon-ellipsis-h"></i> 订单状态</h2>
<ul class="com_adr">
<li>等待商家接单</li>
<li id="deal_btn">
<button type="button" class="am-btn am-btn-warning am-btn-xs"><i class="am-icon-check-square-o"></i> 确定接单 </button>
<button type="button" class="am-btn am-btn-default am-btn-xs"><i class="am-icon-meh-o"></i> 拒绝接单 </button>
<div id="my-prompt-deal" class="am-modal am-modal-prompt" tabindex="-1" >
<div class="am-modal-dialog">
<div class="am-modal-bd"> 上门人员信息 
<input type="text" class="am-modal-prompt-input" placeholder="姓名">
<input type="text" class="am-modal-prompt-input" placeholder="电话">
<textarea class="am-modal-prompt-input" style="width:100%; height:60px;" placeholder="拒绝原因" ></textarea>
</div>
<div class="am-modal-footer"> <span class="am-modal-btn" data-am-modal-cancel>取消</span> <span class="am-modal-btn" data-am-modal-confirm>提交</span> </div>
</div>
</div>
<script>
$(function() {
//输入框的值通过参数 options.data 获取
//多个输入框时，options.data 为数组
//只有一个输入框时，options.data 为字符串
$('#deal_btn button').on('click', function() {
$('#my-prompt-deal').modal({
relatedTarget: this,
onConfirm: function(e) {
alert('你输入的是：' + e.data || '')
},
//		  onCancel: function(e) {
//			alert('不想说!');
//		  }
});
});
});
</script> 
</li>
<li>商家名称：</li>
<li>服务名称：</li>
<li>订单金额：</li>
</ul>
</div>
<div class="box-style">
<h2><i class="am-icon-ellipsis-h"></i> 订单详情</h2>
<ul class="com_adr">
<li>订单号：</li>
<li>下单时间：</li>
<li>支付方式：</li>
<li class="com_adr_v">上门地址：杭州市西湖区万塘路市西湖区万计量大厦1120室<a class="am-badge am-badge-success am-round"><i class="am-icon-location-arrow"></i> 8.3KM</a></li>
<li>联系人：</li>
<li>上门时间：</li>
</ul>
</div>
<div class="box-style" style="background:none; margin-top:0; padding-top:0;">
<ul class="com_adr">
<div class="pro-attrs-cat-tips"></div>
<li><span class="info">
<input onclick="location='m.php?mod=shangmen_buy'" id="checkout_submit_button" type="submit" value="确定接单" name="buy" class="search-submit formbutton">
</span></li>
<font id="submit_status"></font>
</ul>
</div>
<!--{template @m/footer}--> 
