<!--{template @m/header_back}-->
<div class="pFilter">
<ul class="clearfix">
<li class="liL_2"><a class="m ui-link" href="">全部</a></li>
<li class="liL_{$_s3}"><a class="m ui-link" href="">等待接单</a></li>
<li class="liL_{$_s4}"><a class="m ui-link" href="">已接单</a></li>
<li class="liL_{$_s1}"><a class="m ui-link" href="">订单取消</a></li>
</ul>
</div>
<div id="tg_container" class="common-item">
<li class="common-data"> <a href="?view=230">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider"> <img src="http://dev.tttuangou.net/static/images/imager.404.jpg"> </div>
</div>
</div>
<div class="item-name">
<h2>羊毛内衣，双11特价999元 </h2>
<h3> <b>￥110.99</b> | 2015年7月14日 9:03 </h3>
<div class="item-edit">
<p class="price"><b>等待接单</b></p>
<p class="num"><a class="am-btn am-btn-warning am-btn-xs" href="#"> <i class="am-icon-check-square-o"></i> 接单 </a></p>
</div>
</div>
</a> </li>
<li class="common-data"> <a href="?view=233">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider"> <img src="http://dev.tttuangou.net/static/images/imager.404.jpg"> </div>
</div>
</div>
<div class="item-name">
<h2>羊毛内衣，双11特价999元 </h2>
<h3> <b>￥110.99</b> | 2015年7月14日 9:03 </h3>
<div class="item-edit">
<p class="price"><b>订单取消</b></p>
</div>
</div>
</a> </li>
<li class="common-data"> <a href="?view=235">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider"> <img src="http://dev.tttuangou.net/static/images/imager.404.jpg"> </div>
</div>
</div>
<div class="item-name">
<h2>羊毛内衣，双11特价999元 </h2>
<h3> <b>￥110.99</b> | 2015年7月14日 9:03 </h3>
<div class="item-edit">
<p class="price"><b>已接单</b></p>
</div>
</div>
</a> </li>
</div>
<!--{template @m/footer}--> 
