<!--{template @m/header_back}-->
<div id="tg_container" class="common-item">
<li class="common-data"> <a href="?view=230">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider"> <img src="http://dev.tttuangou.net/static/images/imager.404.jpg"> </div>
</div>
</div>
<div class="item-name">
<h2>羊毛内衣，双11特价999元 </h2>
<h3> <b>￥110.99</b> | 2015年7月14日 9:03 </h3>
<div class="item-edit">
<p class="price"><b>等待商家接单</b></p>
</div>
</div>
</a> </li>
<li class="common-data"> <a href="?view=233">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider"> <img src="http://dev.tttuangou.net/static/images/imager.404.jpg"> </div>
</div>
</div>
<div class="item-name">
<h2>羊毛内衣，双11特价999元 </h2>
<h3> <b>￥110.99</b> | 2015年7月14日 9:03 </h3>
<div class="item-edit">
<p class="price"><b>商家取消订单</b></p>
</div>
</div>
</a> </li>
<li class="common-data"> <a href="?view=235">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider"> <img src="http://dev.tttuangou.net/static/images/imager.404.jpg"> </div>
</div>
</div>
<div class="item-name">
<h2>羊毛内衣，双11特价999元 </h2>
<h3> <b>￥110.99</b> | 2015年7月14日 9:03 </h3>
<div class="item-edit">
<p class="price"><b>商家已接单，等待上门</b></p>
</div>
</div>
</a> </li>
<li class="common-data"> <a href="?view=213">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider"> <img src="http://dev.tttuangou.net/static/images/imager.404.jpg"> </div>
</div>
</div>
<div class="item-name">
<h2>羊毛内衣，双11特价999元 </h2>
<h3> <b>￥110.99</b> | 2015年7月14日 9:03 </h3>
<div class="item-edit">
<p class="price"><b>等待付款</b></p>
<p class="num"><a class="am-btn am-btn-warning am-btn-xs" href="#">
<i class="am-icon-shopping-cart"></i>
付款
</a></p>
</div>
</div>
</a> </li>
<li class="common-data"> <a href="?view=213">
<div class="pic">
<div class="imgs_displayer">
<div id="imageslider"> <img src="http://dev.tttuangou.net/static/images/imager.404.jpg"> </div>
</div>
</div>
<div class="item-name">
<h2>羊毛内衣，双11特价999元 </h2>
<h3> <b>￥110.99</b> | 2015年7月14日 9:03 </h3>
<div class="item-edit">
<p class="price"><b>等待评价</b></p>
<p class="num"><a class="am-btn am-btn-warning am-btn-xs" href="#">
<i class="am-icon-twitch"></i>
评价
</a></p>
</div>
</div>
</a> </li>
</div>
<!--{template @m/footer}--> 
