<!--{template @m/header}-->
<style>
.am-form select{ padding:0.425rem;}
.am-u-sm-6{ margin-bottom:20px;}
</style>
<div class="am-container">
<form class="am-form">
<div class="am-form-group am-form-select">
<select id="doc-select-1" style="width: 30%;float: left; margin-right:10px;">
<option value="option1">分类</option>
<option value="option2">外卖</option>
<option value="option3">保洁</option>
</select>
<select id="doc-select-2" style="width: 30%;float: left;margin-right:10px;">
<option value="option1">全城</option>
<option value="option2">西湖区</option>
<option value="option3">拱墅区</option>
</select>
<select id="doc-select-3" style="width: 30%;float: left;">
<option value="option1">排序</option>
<option value="option2">销量</option>
<option value="option3">评价</option>
</select>
</div>
</form>
</div>
<div class="am-container" style="margin:10px 0;">当前定位地址：杭州市之江大楼</div>
<div class="am-container">
<div class="am-g">
<div class="am-u-sm-6">
<a href="m.php?mod=shangmen_view" class="fw_info">
<img src="http://tg.cenwor.com/dev/uploads/thumb/450x268/2015-05-05/306a0a35c964204a4e9f093a73c220d6.jpg" alt="">
<div class="fw_name"><h3>上门服务名称</h3><div class="fw_sales"><em class="fw_prices">$100</em><em class="fw_num">服务：30</em></div></div>
</a>
</div>
<div class="am-u-sm-6">
<a href="" class="fw_info">
<img src="http://tg.cenwor.com/dev/uploads/thumb/450x268/2015-05-05/306a0a35c964204a4e9f093a73c220d6.jpg" alt="">
<div class="fw_name"><h3>上门服务名称</h3><div class="fw_sales"><em class="fw_prices">$100</em><em class="fw_num">服务：30</em></div></div>
</a>
</div>
<div class="am-u-sm-6">
<a href="" class="fw_info">
<img src="http://tg.cenwor.com/dev/uploads/thumb/450x268/2015-05-05/306a0a35c964204a4e9f093a73c220d6.jpg" alt="">
<div class="fw_name"><h3>上门服务名称</h3><div class="fw_sales"><em class="fw_prices">$100</em><em class="fw_num">服务：30</em></div></div>
</a>
</div>
<div class="am-u-sm-6">
<a href="" class="fw_info">
<img src="http://tg.cenwor.com/dev/uploads/thumb/450x268/2015-05-05/306a0a35c964204a4e9f093a73c220d6.jpg" alt="">
<div class="fw_name"><h3>上门服务名称</h3><div class="fw_sales"><em class="fw_prices">$100</em><em class="fw_num">服务：30</em></div></div>
</a>
</div>
<div class="am-u-sm-6">
<a href="" class="fw_info">
<img src="http://tg.cenwor.com/dev/uploads/thumb/450x268/2015-05-05/306a0a35c964204a4e9f093a73c220d6.jpg" alt="">
<div class="fw_name"><h3>上门服务名称</h3><div class="fw_sales"><em class="fw_prices">$100</em><em class="fw_num">服务：30</em></div></div>
</a>
</div>
<div class="am-u-sm-6">
<a href="" class="fw_info">
<img src="http://tg.cenwor.com/dev/uploads/thumb/450x268/2015-05-05/306a0a35c964204a4e9f093a73c220d6.jpg" alt="">
<div class="fw_name"><h3>上门服务名称</h3><div class="fw_sales"><em class="fw_prices">$100</em><em class="fw_num">服务：30</em></div></div>
</a>
</div>    
</div>
</div>
<!--{template @m/footer}-->
