<!--{template @m/header_back}-->
<div class="am-scrollable-horizontal"  style="background:#fff; margin:10px 0;">
<table class="am-table am-table-bordered am-table-striped am-text-nowrap">
<thead>
<tr>
<th>使用时间</th>
<th>商品属性/信息</th>
<th>{TUANGOU_STR}券号码</th>
<th>份数</th>
</tr>
</thead>
<tbody>
<tr>
<td>2012-10-01 12:30</td>
<td>【10店通用】 新白鹿餐厅(单价：&yen;92.00 数量：1)</td>
<td>154210593</td>
<td>1份</td>
</tr>
<tr>
<td>2012-10-01 12:30</td>
<td>【10店通用】 新白鹿餐厅(单价：&yen;92.00 数量：1)</td>
<td>154210593</td>
<td>1份</td>
</tr>
<tr>
<td>2012-10-01 12:30</td>
<td>【10店通用】 新白鹿餐厅(单价：&yen;92.00 数量：1)</td>
<td>154210593</td>
<td>1份</td>
</tr>
</tbody>
</table>
</div>
